<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>首页</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <div th:insert="common/common :: sidebar"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:insert="common/common :: header"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="edit-avatar">
                                    <img th:src="@{/images/users/avatar.jpg}" alt="..." class="img-avatar">
                                    <div class="avatar-divider"></div>
                                    <div class="edit-avatar-content">
                                        <button class="btn btn-default">修改头像</button>
                                        <p class="m-0">选择一张你喜欢的图片，裁剪后会自动生成264x264大小，上传图片大小不能超过2M。</p>
                                    </div>
                                </div>
                                <hr>
                                <form method="post" action="#" class="site-form">
                                    <div class="form-group">
                                        <label for="uid">用户ID</label>
                                        <input type="text" class="form-control" name="uid" id="uid"
                                               th:value="${session.uid}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="uname">姓名</label>
                                        <input type="text" class="form-control" name="uname" id="uname"
                                               placeholder="输入您的昵称" th:value="${session.uname}">
                                    </div>
                                    <div class="form-group">
                                        <label for="uage">年龄</label>
                                        <input type="text" class="form-control" name="uage" id="uage"
                                               placeholder="输入您的昵称" th:value="${session.uage}">
                                    </div>
                                    <div class="form-group">
                                        <label for="uphone">电话</label>
                                        <input type="text" class="form-control" name="uphone" id="uphone"
                                               placeholder="输入您的昵称" th:value="${session.uphone}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ulevel">权限</label>
                                        <input type="text" class="form-control" name="ulevel" id="ulevel" disabled
                                               placeholder="输入您的昵称" th:value="${session.ulevel}" th:if="${session.ulevel eq '0'}?'普通用户':'管理员'">
                                    </div>
                                    <div class="form-group">
                                        <label for="uemail">邮箱</label>
                                        <input type="email" class="form-control" name="uemail" id="uemail"
                                               aria-describedby="emailHelp" placeholder="请输入正确的邮箱地址"
                                               th:value="${session.uemail}">
                                        <small id="emailHelp" class="form-text text-muted">请保证您填写的邮箱地址是正确的。</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="remark">简介</label>
                                        <textarea class="form-control" name="remark" id="remark" rows="3"
                                                  th:text="${session.uintroduction}"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>

</body>
</html>